body {
    background-color: rgb(48, 50, 61);
}

.questName,
.nextTask {
    margin: 1.2vw;
}


#questContainer {
    background-color: rgb(48, 50, 61);
    border: .7vw solid rgb(207, 212, 238);
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 70vw;
    min-height: 70vh;
}

.quest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questHeading {
    border-bottom: .7vh solid rgb(207, 212, 238);
    min-width: 68vw;
    text-align: center;
    font-size: 6vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.taskContainer {
    margin-top: 1vh;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .2vh solid rgb(207, 212, 238);
    min-width: 68vw;
    margin-top: 1vh;
}

#homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 50, 61);
    border: .7vw solid rgb(207, 212, 238);
    border-radius: 2vw;
    color: rgb(207, 212, 238);
    padding: 2vw;
    min-height: 90vh;
}



.quest {
    background-color: rgb(48, 50, 61);
    border: .7vw solid rgb(207, 212, 238);
    border-radius: 2vw;
    margin: 2vw;
    padding: 1vw;
    min-width: 65vw;
}

button {
    background-color: rgb(207, 212, 238);
    border: .5vw solid rgb(111, 114, 128);
    color: rgb(48, 50, 61);
    border-radius: 1.5vw;
    margin: 1vw;
}